{% macro link_to (text, endpoint) -%}
    <a href="{{ url_for(endpoint, **kwargs) }}">{{ text }}</a>
{%- endmacro %}


{% macro link_button (type, text, endpoint) -%}
    <a class="btn{% if type is not none %} btn-{{ type }}{% endif %}"
       href="{{ url_for(endpoint, **kwargs) }}">{{ text }}</a>
{%- endmacro %}


{% macro form_tag (endpoint, method='POST') -%}
    <form action="{{ url_for(endpoint, **kwargs) }}" 
          method="{{ method }}">
        {{ caller () }}
    </form>
{%- endmacro %}


{% macro field_errors (field) -%}
    {% for error in field.errors %}
        <p class="text-error">{{ error }}</p>
    {% endfor %}
{%- endmacro %}


{% macro submit_button (type, text, name, value) -%}
    <button type="submit"
            {%- if name %} name="{{ name }}" value="{{ value }}"{% endif %}
            class="btn{% if type is not none %} btn-{{ type }}{% endif %}">
        {{ text }}
    </button>
{%- endmacro %}


{% macro dismiss_button (type, text, name, value) -%}
    <button type="button" data-dismiss="modal"
            class="btn{% if type is not none %} btn-{{ type }}{% endif %}">
        {{ text }}
    </button>
{%- endmacro %}


{% macro success (v) -%}
    {% if v %}success{% else %}error{% endif %}
{%- endmacro %}
