{% extends "layout.html" %}
{% from "_utils.html" import form_tag, field_errors, submit_button,
                             dismiss_button %}

{% set title = challenge.title %}

{% block body %}
    <h1>{{ challenge.title }}</h1>

    <div class="row">
        <div class="span9">
            <p class="lead">{{ challenge.objective }}</p>
        </div>
        <div class="span3">
            <p class="lead" style="text-align: right;">
                Challenge version
                {{ challenge.spec_ver }}.{{ challenge.results_ver }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span5">
            <!-- Spec & Results -->
            <ul class="nav nav-tabs">
                <li{% if submission is none %} class="active"{% endif %}>
                    <a href="#challenge-spec" data-toggle="tab">Spec</a>
                </li>
                <li{% if submission is not none %} class="active"{% endif %}>
                    <a href="#challenge-results" data-toggle="tab">Results</a>
                </li>
                <li>
                    <a href="{{ url_for('challenges.leaderboard', id=challenge.id) }}">
                        Leaderboard
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="challenge-spec"
                     class="tab-pane{% if submission is none %} active{% endif %}">
                    {{ challenge.spec|markdown }}

                    <h4>Metrics</h4>

                    <p>
                        Once your program is correct, it will be ranked on:
                    </p>

                    <ul>
                        {% for metric in challenge.metrics %}
                            <li>{{ metric.name }}</li>
                        {% endfor %}
                        {% for metric in challenge.case_metrics %}
                            <li>{{ metric.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="challenge-results"
                     class="tab-pane{% if submission is not none %} active{% endif %}">
                    {% if submission is none %}
                        <p>
                            Once you've finished your code, click
                            &ldquo;Test&rdquo; to see the results.
                        </p>
                    {% else %}
                        {% include "attempt-result.html" %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="span7">
            <!-- Assembly Editor -->

            {% call form_tag('challenges.attempt', id=challenge.id) %}
                {{ form.hidden_tag() }}

                {{ form.assembly }}
                <div id="assembly-editor" style="width: 100%; height: 30em;"></div>

                {{ field_errors(form.assembly) }}

                {{ form.notes.label }}
                {{ form.notes(rows=4, style="width: 100%;") }}

                {{ field_errors(form.notes) }}

                <div class="form-actions">
                    {{ submit_button('primary btn-large', "Test") }}
                    {% if can_submit %}
                        <a href="#submit-modal" data-toggle="modal"
                           class="btn btn-success btn-large">
                            Submit!
                        </a>
                    {% endif %}
                </div>

                {% if can_submit %}
                    <div id="submit-modal" class="modal hide fade">
                        <div class="modal-header">
                            <h3>Submit</h3>
                        </div>

                        <div class="modal-body">
                            <p>
                                This will post your metrics on the assignment
                                leaderboard. However, we'll have to check
                                your submission first to make sure it's
                                valid and not plagiarized.
                            </p>

                            <label class="checkbox">
                                {{ form.publish() }}
                                Publish my code on the leaderboard
                            </label>
                        </div>

                        <div class="modal-footer">
                            {{ dismiss_button(none, "Cancel") }}
                            {{ submit_button('success',
                                "Submit!",
                                'action', 'submit'
                            ) }}
                        </div>
                    </div>
                {% endif %}
            {% endcall %}
        </div>
    </div>
{% endblock body %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/ace/ace.js') }}"></script>
    <script>
        var asmEditor = ace.edit("assembly-editor");
        asmEditor.setTheme("ace/theme/twilight");
        asmEditor.getSession().setTabSize(4);
        asmEditor.getSession().setUseSoftTabs(true);

        var asmTextarea = $(document.getElementById("assembly")).hide();

        {% if submission %}
            localStorage.setItem('challenge-{{ challenge.id }}-last',
                                 asmTextarea.val());
        {% elif not form.assembly.data %}
            var last = localStorage.getItem('challenge-{{ challenge.id }}-last');
            if (last) {
                asmTextarea.val(last);
            }
        {% endif %}

        asmEditor.getSession().setValue(asmTextarea.val());
        asmEditor.getSession().on('change', function () {
            asmTextarea.val(asmEditor.getSession().getValue());
        });
    </script>
{% endblock scripts %}
