<!doctype html>
<html>
<head>
    <title>0x10challenges - {{ title }}</title>
    <meta charset="utf-8">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-cyborg.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/0x10challenges.css') }}">
    {% block head %}{% endblock head %}
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{{ url_for('challenges.index') }}">
                    0x10<sup>challenges</sup>
                </a>
                <ul class="nav">
                    <li>
                        <a href="{{ url_for('challenges.index') }}">
                            Challenges
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('challenges.my_submissions') }}">
                            My Submissions
                        </a>
                    </li>
                    {% if current_user.is_admin %}
                        <li>
                            <a href="{{ url_for('challenges.review_queue') }}">
                                Review Queue
                            </a>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown">
                            Documentation
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    Introduction
                                </a>
                            </li>
                            <li>
                                <a href="http://dcpu.com/dcpu-16/">
                                    DCPU-16 Specification
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Assembly Language Reference
                                </a>
                            </li>
                            <li>
                                <a href="http://www.0x10co.de/">
                                    0x10co.de (Sandbox)
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    {% include "accounts/user-menu.html" %}
                </ul>
            </div>
        </div>

        {% with flashes = get_flashed_messages(with_categories=True) -%}
        {% if flashes -%}
        <div id="flashes offset2 span8">
        {%- for category, message in flashes %}
            <div class="alert{% if category != 'warning' %} alert-{{category}}{% endif %}">
                {{ message }}
            </p>
        {%- endfor %}
        </div>
        {%- endif %}
        {%- endwith %}

        {% block body %}
        {% endblock body %}

        <footer>
            <a href="http://flask.pocoo.org/">
                <img src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                    border="0" alt="powered by Flask" title="powered by Flask">
            </a>
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script>
        {% include "accounts/persona-login.js" %}
    </script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>

