{% extends "layout.html" %}
{% from "_utils.html" import form_tag, field_errors, submit_button,
                             dismiss_button %}

{% set title = challenge.title + " Leaderboard" %}

{% block body %}
    <h1>{{ challenge.title }}</h1>

    <div class="row">
        <div class="span9">
            <p class="lead">{{ challenge.objective }}</p>
        </div>
        <div class="span3">
            <p class="lead" style="text-align: right;">
                Challenge version
                {{ challenge.spec_ver }}.{{ challenge.results_ver }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span3">
            <a href="{{ url_for('challenges.attempt', id=challenge.id) }}"
               class="btn btn-inverse btn-block btn-large">
                Try it!
            </a>

            <ul class="nav nav-pills nav-stacked">
                {% for metric, _ in boards %}
                    <li>
                        <a href="#metric-{{ metric.id }}">
                            {{ metric.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="span9">
            {% for metric, submissions in boards %}
                <div id="metric-{{ metric.id }}">
                    <h2>{{ metric.name }}</h2>

                    {% if metric.descends %}
                        <p>(Higher is better)</p>
                    {% else %}
                        <p>(Lower is better)</p>
                    {% endif %}

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nickname</th>
                                <th colspan="2">{{ metric.name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sub in submissions %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ sub.user_nickname }}</td>
                                    <td>{{ metric.format(sub.metrics[metric.id]) }}</td>
                                    <td>
                                        {% if published %}
                                            code
                                        {% else %}
                                            no code
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        There aren't any submissions yet.
                                        Why don't you try?
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
