{% if current_user.is_authenticated() %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown">
            {% if current_user.is_admin %}
                <span class="icon-star"></span>
            {% endif %}
            {{ current_user.nickname }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="disabled">
                <a>
                    <span class="icon-envelope"></span>
                    {{ current_user.email }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('accounts.set_nick') }}">
                    Set Nickname
                </a>
            </li>
            <li>
                <a href="#" class="persona-logout-button">
                    Sign Out
                </a>
            </li>
        </ul>
    </li>
{% else %}
    <li>
        <a href="#" class="persona-login-button">
            <img src="{{ url_for('static', filename='img/persona-sign-in.png') }}"
                 alt="Sign In">
        </a>
    </li>
{% endif %}

