{%- from "_utils.html" import success -%}

{### Challenges and Specs ###}

{%- macro challenge_header (challenge) -%}
    <h1>{{ challenge.title }}</h1>

    <div class="row">
        <div class="span9">
            <p class="lead">{{ challenge.objective }}</p>
        </div>
        <div class="span3">
            <p class="lead" style="text-align: right;">
                Challenge version
                {{ challenge.spec_ver }}.{{ challenge.results_ver }}
            </p>
        </div>
    </div>
{%- endmacro -%}



{### Macros for Results ###}

{%- macro show_results (challenge, submission) -%}
    <p class="lead text-{{ success(submission.passed) }}">
        {{ submission.caption }}
    </p>

    {{ show_notes_and_metrics(submission, challenge.metrics) }}


    {% for case in submission.test_cases %}
        <h4 class="text-{{ success(case.passed) }}">
            {{ case.title }}
        </h4>

        <div style="margin-left: 10px;">
            {{ show_case_io_part("Input", case.input) }}
            {{ show_case_io_part("Expected output", case.expected_output) }}
            {{ show_case_io_part("Actual output", case.actual_output) }}

            {{ show_notes_and_metrics(case, challenge.case_metrics) }}
        </div>
    {% endfor %}
{%- endmacro -%}


{%- macro show_case_io_part (title, pairs) -%}
    {% if pairs %}
        <h5 style="margin-bottom: 0;">{{ title }}:</h5>
        <dl class="dl-horizontal case-io">
            {% for key, value in pairs|items_sorted %}
                <dt>{{ key }}:</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    {% endif %}
{%- endmacro -%}


{%- macro show_notes_and_metrics (sub_or_case, metrics) -%}
    <table class="table table-condensed table-flush-left">
        {% for comment in sub_or_case.comments %}
            <tr>
                <td colspan="2">{{ comment }}</td>
            </tr>
        {% endfor %}
        {% for violation in sub_or_case.violations %}
            <tr>
                <td colspan="2" class="text-error">{{ violation }}</td>
            </tr>
        {% endfor %}
        {% for metric in metrics %}
            <tr>
                <td>{{ metric.name }}</td>
                <td>
                    {% if metric.id in sub_or_case.metrics %}
                        {{ metric.format(sub_or_case.metrics[metric.id]) }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{%- endmacro -%}

