{% extends "layout.html" %}
{% from "challenges/_parts.html" import challenge_header %}
{% from "_utils.html" import form_tag, field_errors, submit_button,
                             link_button, dismiss_button %}

{% set title = challenge.title + " Leaderboard" %}

{% block body %}
    {{ challenge_header (challenge) }}

    <div class="row">
        <div class="span3">
            <a href="{{ url_for('challenges.attempt', id=challenge.id) }}"
               class="btn btn-inverse btn-block btn-large">
                Try it!
            </a>

            <ul class="nav nav-pills nav-stacked">
                {% for metric, _ in boards %}
                    <li>
                        <a href="#metric-{{ metric.id }}">
                            {{ metric.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="span9">
            {% for metric, submissions in boards %}
                <div id="metric-{{ metric.id }}">
                    <h2>{{ metric.name }}</h2>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nickname</th>
                                <th colspan="2">
                                    {{ metric.name }}

                                    {% if metric.descends %}
                                        (higher is better)
                                    {% else %}
                                        (lower is better)
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sub in submissions %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ sub.user_nickname }}</td>
                                    <td>{{ metric.format(sub.metrics[metric.id]) }}</td>
                                    <td style="text-align: right;">
                                        {% if sub.published %}
                                            {{ link_button(none, "View code",
                                                           'challenges.submission',
                                                           id=sub.id) }}
                                        {% elif sub.published %}
                                            {{ link_button(none, "Hidden code",
                                                           'challenges.submission',
                                                           id=sub.id) }}
                                        {% else %}
                                            No code
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        There aren't any submissions yet.
                                        Why don't you try?
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
