{% extends "layout.html" %}
{% from "challenges/_parts.html" import submission_details %}
{% from "_utils.html" import link_button %}

{% set title = "My Submissions" %}

{% block body %}
    <h1>My Submissions</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Challenge</th>
                <th>Submitted</th>
                <th colspan="2">Administrator's notes</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        {{ submission.challenge_id }}
                    </td>
                    <td>
                        {{ submission_details(submission, false, false, true, true, true) }}
                    </td>
                    <td>
                        {% if submission.admin_notes %}
                            {{ submission.admin_notes|markdown }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td style="text-align: right;">
                        {{ link_button('primary', "View",
                                       'challenges.submission',
                                       id=submission.id) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
