{% extends "layout.html" %}
{% from "challenges/_parts.html" import challenge_header, show_results,
                                        submission_details %}
{% from "_utils.html" import form_tag, field_errors, submit_button %}

{% set title = "Reviewing " ~ challenge.title ~ " Submission" %}

{% block body %}
    {{ challenge_header (challenge) }}

    <div class="row">
        <div class="span5">
            <!-- Spec & Results -->
            <p>
                {{ submission_details(submission, true, true, true, true, true) }}
            </p>

            <ul class="nav nav-tabs">
                <li>
                    <a href="#challenge-spec" data-toggle="tab">Spec</a>
                </li>
                <li class="active">
                    <a href="#challenge-results" data-toggle="tab">Results</a>
                </li>
                <li>
                    <a href="{{ url_for('challenges.leaderboard', id=challenge.id) }}">
                        Leaderboard
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="challenge-spec"
                     class="tab-pane">
                    {{ challenge.spec|markdown }}
                </div>

                <div id="challenge-results"
                     class="tab-pane active">
                    {{ show_results(challenge, submission) }}
                </div>
            </div>
        </div>

        <div class="span7">
            <!-- Assembly and Review Form -->
            <pre>{{ submission.assembly }}</pre>

            {% call form_tag('challenges.review_submission',
                             id=submission.id) %}
                {{ form.hidden_tag() }}

                {{ form.comments_for_submitter.label }}
                {{ form.comments_for_submitter(rows=4, style="width: 100%;") }}
                {{ field_errors(form.comments_for_submitter) }}

                {{ form.comments_for_public.label }}
                {{ form.comments_for_public(rows=4, style="width: 100%;") }}
                {{ field_errors(form.comments_for_public) }}

                <div>
                    {% for action in form.decision %}
                        <label class="checkbox inline">
                            {{ action }}
                            {{ action.label.text }}
                        </label>
                    {% endfor %}
                </div>

                <div class="form-actions">
                    {{ submit_button('primary btn-large', "Review") }}
                </div>
            {% endcall %}
        </div>
    </div>
{% endblock body %}
