{% extends "layout.html" %}
{% from "challenges/_parts.html" import challenge_header, show_results,
                                        submission_details %}
{% from "_utils.html" import form_tag, field_errors, submit_button %}

{% set title = challenge.title ~ " Submission" %}
{% set show_status = current_user.is_admin or current_user.id == submission.user_id %}

{% block body %}
    {{ challenge_header (challenge) }}

    <div class="row">
        <div class="span5">
            <p>
                {{ submission_details(submission,
                                      true, current_user.is_admin, true,
                                      show_status, show_status) }}
            </p>

            <!-- Spec & Results -->
            <ul class="nav nav-tabs">
                <li>
                    <a href="#challenge-spec" data-toggle="tab">Spec</a>
                </li>
                <li class="active">
                    <a href="#challenge-results" data-toggle="tab">Results</a>
                </li>
                <li>
                    <a href="{{ url_for('challenges.leaderboard', id=challenge.id) }}">
                        Leaderboard
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="challenge-spec"
                     class="tab-pane">
                    {{ challenge.spec|markdown }}
                </div>

                <div id="challenge-results"
                     class="tab-pane active">
                    {% if submission.comments_for_submitter and show_status %}
                        <h4>Administrator's comments (for you)</h4>

                        {{ submission.comments_for_submitter|markdown }}
                    {% endif %}

                    {% if submission.comments_for_public %}
                        <h4>
                            Administrator's comments
                            {% if show_status %} (for public){% endif %}
                        </h4>

                        {{ submission.comments_for_public|markdown }}
                    {% endif %}
                        

                    {{ show_results(challenge, submission) }}
                </div>
            </div>
        </div>

        <div class="span7">
            <!-- Assembly and Review Form -->
            <pre>{{ submission.assembly }}</pre>
        </div>
    </div>
{% endblock body %}
